

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background-color: green;
  margin: 0;
  padding: 0;
}



header {
  z-index: 10;
  height: 8%;
}
footer {
  z-index: 10;
  height: 8%;
}

#products-box {
  margin-top: 27%;
  height: 50%;
  width: 100%;
  border: 2px solid black;
}
.product-item {
  width: 200px;
  height: 200px;
  background-color: beige;
}